* {
    box-sizing: border-box;
}

@media (max-width:768px) {

    #container {
        width: 90%;
        margin: 0 auto;
    }

    .col-xs-6 {
        width: 50%;
        height: 350px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .thumbnail {
        position: flex;
        width: 100%;

        height: 100%;
    }

    .form-control {
        width: 100%;
    }

    #inputInfo {
        width: 100%;
    }

    .caption {
        position: flex;
        width: 100%;
    }

    #imagen {
        height: 150px;
        width: auto;
    }


}

@media(min-width:1024px) {

    body {
        height: 100%;
    }

    #background {
        position: relative;
        height: 100%;
        width: 100%;
    }

    #container {
        width: 70%;
        margin: 0 auto;
    }

    .col-md-3 {
        width: 25%;
        height: 350px;
        margin-bottom: 20px;
    }

    .thumbnail {
        height: 100%;
        margin-top: 5px;
    }

    #imagen {
        height: 150px;
        width: auto;
    }

    .form-group {
        margin: 0 auto;
        width: 250px;
    }

    .contenedorInfo {
        margin: 10px;
    }

    #inputInfo {
        width: 100%;
    }

    #boton {}

    #logo {
        margin: 10px;
    }

    .navbar {
        margin-bottom: 0px;
    }

    #footer {
        position: absolute;
        bottom: 0px;
        height: 150px;
        background-color: rebeccapurple;
        width: 100%;
    }

    #footerTest {
        position: absolute;
        bottom: 0px;
        height: 150px;
        background-color: rebeccapurple;
        width: 100%;
    }

}